main
    position: relative
    height: calc(100vh - 70px)
    color: #024059
    h1
        +mainH(50px)
        margin: 5px 0
        line-height: 50px
    h3
        +mainH(30px)
    .fa-arrow-left
        position: absolute
        top: 15vh
        left: 5vw
        height: 100%
        line-height: 40px
        font-size: 22px
        color: #4951F2
    .fa-arrow-right
        position: absolute
        top: 15vh
        right: 5vw
        line-height: 40px
        font-size: 22px
        color: #4951F2
    .calendar
        position: relative
        width: 70vw
        height: 100%
        margin: 10px auto
        overflow: hidden
        .monthsHolder
            position: absolute
            top: 0
            left: 0
            width: 100%
            margin: 0
            display: flex
            justify-content: flex-start
            transition: all .5s ease
            .month
                position: relative
                height: 40px
                width: 70vw
                padding: 10px 15px
                margin-bottom: 10px
                border-radius: 10px
                background-color: #4951F2
                color: white
                span
                    position: absolute
                    bottom: 5px
                    right: 20px
                    font-size: 12px
    .listDays
        height: 60vh
        overflow: auto
        &::-webkit-scrollbar 
            width: 6px
        &::-webkit-scrollbar-track 
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3)  
        &::-webkit-scrollbar-thumb 
            background-color: darkgrey
            outline: 1px solid slategrey
        li
            position: relative
            height: 30px
            width: 90%
            margin: 10px auto
            padding: 5px 10px
            border-radius: 5px
            list-style: none
            background-color: #9297f7
            color: white
            line-height: 20px
            span
               position: absolute
               top: 5px
               right: 20px
               display: inline-block
               height: 20px
               width: 20px
               border-radius: 50px
               background-color: white
            .done
                background-color: green
            .notDone
                background-color: red
    .addHabit
        +popUp(none, absolute, #4951F2)
        i
            +closePopUp
        h2
            +textPopUp
        form
            display: flex
            flex-direction: column         
            input
                width: 75vw
                border: 2px solid #aaa
                border-radius: 4px
                margin: 8px auto
                outline: none
                padding: 8px
                box-sizing: border-box
                transition: 0.3s
                &:focus
                    border-color: #024059
                    box-shadow: 0 0 32px 0 #024059
            button
                +buttonPopUp
    .deleteHabit
        +popUp(none, absolute, #4951F2)
        i
            +closePopUp
        h2
            +textPopUp
        button
            +buttonPopUp

@media (min-width: 375px) and (orientation: portrait)
    main
        .listDays
            height: 67vh

@media (min-width: 411px) and (orientation: portrait)
    main
        .fa-arrow-left
            top: 10vh
            font-size: 28px
        .fa-arrow-right
            top: 10vh
            font-size: 28px
        .calendar
            .month
               height: 50px 
               line-height: 30px
        .listDays
            height: 69vh
            li
                height: 40px
                border-radius: 8px
                span
                    top: 8px
                    height: 22px
                    width: 22px

@media (min-width: 768px) and (orientation: portrait)
    main
        height: calc(100vh - 120px)
        .fa-arrow-left
            top: 8vh
            line-height: 55px
            font-size: 45px
        .fa-arrow-right
            top: 8vh
            line-height: 55px
            font-size: 45px
        .calendar
            .monthsHolder
                .month
                    height: 50px 
                    line-height: 25 px
                    font-size: 26px
                    span
                        font-size: 20px
        .listDays
            &::-webkit-scrollbar 
                width: 10px
            li
                height: 60px
                border-radius: 8px
                font-size: 28px
                line-height: 50px
                span
                    top: 12px
                    height: 30px
                    width: 30px
        .addHabit
            top: 35vh
            height: 25vh
            form
                input
                    width: 50vw
                button
                    width: 25vw
        .deleteHabit
            top: 40vh
            height: 20vh
            button
                width: 30vw

@media (min-width: 533px) and (orientation: landscape)
    main
        .listDays
            height: 25vh
        .addHabit
            form
                input
                    width: 50vw
                button
                    width: 30vw
            
@media (min-width: 640px) and (orientation: landscape)
    main
        .listDays
            height: 35vh
@media (min-width: 667px) and (orientation: landscape)
    main
        .listDays
            height: 45vh

@media (min-width: 731px) and (orientation: landscape)
    main
        .listDays
            height: 50vh
        .addHabit
            form
                input
                    width: 45vw
                button
                    width: 20vw
            
@media (min-width: 812px) and (orientation: landscape)
    main
        .listDays
            height: 32vh

@media (min-width: 823px) and (orientation: landscape)
    main
        .listDays
            height: 41vh

@media (min-width: 1024px) and (orientation: landscape)
    main
        .listDays
            height: 66vh
            li
                height: 40px
                border-radius: 8px
                font-size: 18px
                line-height: 30px
        .addHabit
            top: 30vh
            height: 30vh
            form
                input
                    width: 40vw
                button
                    width: 18vw
        .deleteHabit
            top: 40vh
            height: 20vh
            button
                width: 30vw

@media (min-width: 1100px)
    main
        height: 75vh
        top: calc(25vh/2)
        left: 0
        width: 80vw
        margin: 0 auto
        background-color: #ADC5D9
        border-radius: 5px
        h1
            width: 100%
            margin: 5px 0
            line-height: 50px
        h3
            width: 100%
        .fa-arrow-left
            top: 70px
            left: 10px
            font-size: 26px
            z-index: 3
            cursor: pointer
        .fa-arrow-right
            top: 70px
            right: 10px
            font-size: 26px
            z-index: 3
            cursor: pointer
        .calendar
            position: relative
            width: 100%
            height: calc(100% - 110px)
            overflow: hidden
            margin: 10px 0
            .monthsHolder
                position: absolute
                top: 0
                left: 50px 
                width: 100%
                margin: 0
                display: flex
                justify-content: flex-start
                transition: all .5s ease
                div
                    margin-right: 30px
                    .month
                        width: 270px
                    .listDays
                        height: 55vh
                        li
                            span
                                top: 8px
                                right: 20px
                                height: 25px
                                width: 25px
                                &:hover
                                    cursor: pointer
                            .done
                                background-color: green
                            .notDone
                                background-color: red
        .addHabit
            top: 20vh
            left: 25%
            height: 35vh
            width: 50%
            i:hover
                color: #024059
            h2
                margin-top: 25px
                width: 90%
            form
                input
                    width: 50%
                button
                    width: 25%
                    &:hover                 
                        border-color: #024059
                        box-shadow: 0 0 32px 0 #024059
        .deleteHabit
            top: 20vh
            left: 25%
            height: 35vh
            width: 50%
            i:hover
                color: #024059
            h2
                margin-top: 25px
                width: 90%
            button
                width: 33%